.restaurantTitle{
  width:80%;
  margin: 20px auto;
  text-align: center;
  color: darkslategray
}

.contentContainer{
  width: 80%;
  height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.reservationsContainer{
  border-right: darkslategrey 1px dotted;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reservationCardsContainer{
  overflow-y: auto;
  height: 55vh;
}

.reservationCard:hover{
  cursor: pointer;
}

.addCustomerFields{
  background-color: gainsboro;
  border: darkslategray 1px dotted;
  border-radius: 5px;
  width: 90%;
  margin: 0px auto;
}

.addCustomerTitle{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: darkslategrey;
  text-decoration: underline;
  font-size: 1rem;
}

.addCustomerNameInput{
  display: block;
  width: 80%;
  margin: 10px auto;
  height: 32px;
  text-align: center;
}

.addCustomerButton{
  display: block;
  width: 80%;
  background-color: darkslategrey;
  color: white;
  font-size: '1rem';
  margin: 10px auto;
  padding: 10px 0px;
  border-radius: 5px;
  border:rgba(0, 0, 0, 0.171)
}

.addCustomerButton:hover{
  cursor: pointer;
  background-color: seagreen;
  color: white
}

.customersContainer{
  height: 80vh;
  overflow-y:auto;
}

.customerCard{
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.171);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0px 20px 20px 20px;
  justify-content: space-between;
}

.customerNameInCustomerCard{
  font-size: 32px;
  margin: 10px 0px;
}

.foodContainerInCustomerCard{
  display: grid;
  grid-template-columns: 3fr 1fr
}

.foodItemsContainerInCustomerCard{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.foodItem{
  padding: 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.171);
  height: min-content;
}