.reservationCard{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.171);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0px 20px 20px 0px;
    display: flex;
    justify-content: space-between;
  }